header {
  background-color: #333333;
  color: #BFB9B5;
  margin: 2px 2px 2px 2px;
}
.company-name{
  display: inline-block;
  background-color: #333333;
  padding-left: 3rem;
  font-family: sans-serif;
}
.company-name h1{
  color: #FFB240;
  font-size: 3rem;
  margin-bottom: 1px;
  border-top: 1px solid #FFB240;
}
.company-name h2{
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-left: 2rem;
  border-bottom: 4px solid #FFB240;
}
.company-name h6{
  text-align: right;
  margin-top: 1px;
  padding-top: 1px;
}
.navbar{
  display: inline-block;
  background-color: #232323;
  float: right;
  margin: 3rem 3rem auto 3rem;
}
.navbar li{
  color: #FFB240;
  display: inline-block;
  margin-right: 2rem;
  padding: 2px 2px 2px 2px;

}
.read{
  color: #FFB240;
  text-align: right;
}
p{
  color:  #CCCCCC;
}
.center-article{
  float: left;
  width: 26%;
  margin:2rem 0rem 0rem 5rem;
  padding-right: 12px;
}
.building{
  float: right;
  width: 60%;
  padding-left: 1.3rem;
  margin: 2rem 5rem 0rem 0rem;
  border-left: 2px solid #FFB240;
}
.clearfix{
  clear: both;
}
a{
 color: #BFB9B5;
 text-decoration: none;
}
.lower-section{
  margin: auto 5rem auto 10rem;
}
.aside1{
  display: inline-block;
  width: 30%
}
.aside2{
  display: inline-block;
  width: 30%
}
.aside3{
  display: inline-block;
  width: 30%
}
.head{
  float: left;
  width: 38%;
  padding: none;
  margin-right: 2rem;
  margin-bottom: 1px;

}
footer{
  font-size: small;
  text-align: center;
  background-color: #333333;
  margin: 5rem 2px 2px 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
